<!-- <div>
    <h1>User Profile</h1>
    <h3>Name: {{name.toUpperCase()}}</h3>
    <h3>Status: {{status}}</h3>
    <h3>Salary: {{salary}}</h3>

     <!-- Property Binding -->
    <!-- <button [disabled]="isButton">Click Me</button>
    <!-- Event Binding -->
     <!-- <h1>Input Value: {{inputVal}}</h1> --> 

    <!-- Two Way Data Binding -->
    <!-- One way Of Two Way Binding -->
    <!-- <input [value]="inputVal" type="text"  (input)="onChange($event)" > -->
    <!-- Second Way Of Data Binding -->
    <!-- <input type="text" [(ngModel)] = "inputVal">

    <div>
        @for(user of users;track user.id){
            @if(user.salary > 40000)
            {
                <h4>Name - {{user.name}}  Status - {{user.isSingle ? "Single" : "Married"}} Salary - {{user.salary}}</h4>
            }@else{
                <h4>Name - {{user.name}}  Status - {{user.isSingle ? "Single" : "Married"}} Salary - "null"</h4>
            }
           
        }
    </div> -->



    <!-- <hr />
    Control Statement Through Directives
    <div *ngFor = "let user of users">
        <h4 *ngIf="user.salary> 40000;else elseBlock">Name - {{user.name}}  Status - {{user.isSingle ? "Single" : "Married"}} Salary - {{user.salary}}</h4>

        <ng-template #elseBlock>
         <h4>Name - {{user.name}}  Status - {{user.isSingle ? "Single" : "Married"}} Salary - "null"</h4>
        </ng-template>
    </div>
</div> --> 

<h1>Name - {{name}}  Status - {{isSingle?"Single" : "Married"}} Salary - {{salary}}</h1>
<button (click)="sendData()">Send Data</button>

